.gsd-keyboard.settings-ported
chromium
coc
dconf
doom
emacs
enchant
environment.d
evolution
geary
GIMP
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
ibus
mimeapps.list
monitors.xml
monitors.xml~
mpv
nautilus
neofetch
nnn
nvim.bk
nvim.kickstarter
nvim.lazy
pulse
qmk
QtProject.conf
user-dirs.dirs
user-dirs.locale
vim
VSCodium
zed
